@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1{
    display: flex;
    justify-content: center;
}

.div2{
    background-color: #FFFFFF;
    height: 100vh;
    width: 50%;
}

.div3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CB1E36;
    width: 50vw;
}

.imagem{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-top: 15%;
    width: 500px;
    height: 500px;
}

.logo{

    
    margin-top: 10%;
}

.logo2{
    
    width: 220px;
    height: 80px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    height: 430px;
    padding-top: 20px;
}

label{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: lighter;
}

input{
    
    height: 45px;
    margin-bottom: 25px;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 2px 2px #3f3d560c;
}

.botao{

    width: 255px;
    height: 45px;
    color:  #EA0032;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    line-height: 26.82px;
    
}

.texto1{

    visibility: hidden;
}

.texto2{
    color: #FFFFFF;
   font-size: 13px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   
}

.termo{

    display: flex;
    margin-left: 10px;
}

.conecta{

    display: flex;
    justify-content: center;
}

@media (max-width:991px){

.imagem{

    width: 0;
    height: 0;
}

.div2{

    width: 0;
    height: 0;
}

.div3{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 108vh;
}

.texto1{

    visibility: visible;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.logo{

    display: flex;
    justify-content: center;
}

.formulario{

    width: 480px;
}

input{

    width: 100%;
}


.termo{

    display: flex;
    justify-content: center;
}

    

}


@media (max-width:768px){}


@media (max-width:451px){

.logo{

    display: flex;
    align-items: center;
}    

.div3{

    width: 120vw;
    height: 111vh;
}

    
.texto1{
    display: flex;
    justify-content:center ;
    width: 466px;
    font-size: 20px;
    text-align: center;
}

.formulario{

    width: 356px;
}

input{

    width: 100%;
}

.texto2{

    text-align: center;
}

}

@media (max-width:361px){

    .texto1{

        display: flex;
        justify-content:center ;
        width: 360px;
        font-size: 15px;
        text-align: center;
    }

    .formulario{

        width: 308px;
    }
    
    input{
    
        width: 100%;
    }

    .logo2{
    
        width: 150px;
        height: 60px;
    }
    


}


    

    
